<!DOCTYPE html>
<html ng-app>
	<head>
		<!-- Below file includes reference to Yammer SDK. excluded from this file to keep app id secret -->
		<link rel="import" href="yammersdkinclude.html">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="controller.js"></script>
		<link href="main.css" rel="stylesheet" />

		<title>Yammer tester</title>
	</head>
	<body ng-controller="YCtrl">
		<div class="container theme-showcase content" role="main">

			<div class="yammerButton">
				<span id="yammer-login"></span>
			</div>

			<button type="button" class="btn btn-lg btn-success" ng-click="readMenus()">Read menus</button>
			<button type="button" class="btn btn-lg btn-success hidden" ng-click="readMessages()">Get messages from Yammer</button>

			<div class="menus">
				<div ng-repeat="menu in menus" class="menuContainer">
					<div class="menuLabel">{{menu.restaurant}} </div>
					<div ng-repeat="course in menu.courses" class="msgText">{{course.name}}<span ng-show="course.price != null" class="coursePrice">&nbsp;{{course.price}}&nbsp;&euro;</span></div>
				</div>
			</div>

			<div class="messages">
				<div ng-repeat="msg in messages" class="msgContainer">
					<span class="msgLabel">Viesti: </span><span class="msgText">{{msg.content_excerpt}}</span>
				</div>
			</div>

		</div>

	</body>
</html>
