<style>
	body {
		background-color: #cdd4da;
		font-family: : Helvetica, sans-serif;
		/*margin: 5%;*/
	}
	.container {
		width: 100%;
		/*padding: 0%;*/
	}
	div.menus {
		position: relative;
		margin-top: 20px;
	}
	div.menuContainer {
		margin: 5px;
	}
	.menuLabel {
		font-weight: bolder;
	}
	.msgText {

	}
	div.yammerButton {
		margin-bottom: 20px;
	}

	.coursePrice {
		margin: 5px;
		font-size: smaller;
		color: #ffffff;
		background-color: #61c91c;
		padding: 1px 3px 1px 3px;
		border-radius: 4px;
	}

	#yammer-login {
		width: auto;
		height: 50px;
		margin: 0 -15px 15px -15px;
		padding: 10px 15px;
		background-color: #bbbdb8;
		box-shadow: 0 0 20px 0 #515151;
	}
</style>
